/.env
/combined.log
/error.log
/exceptions.log
/node_modules
/package-lock.json
core.*

# Build directories
.yarn/*
./yarn-error.log
/.next
/.nuxt
/.out
/.output
/.vercel
/.output/
/.vercel_build_output
/.output/public 
.yarn/install-state.gz
.yarn/install-state.gz
yarn.lock
